<div class="main-wrapper">
  <div class="file-container">

    <div  class="overflow-hidden" [ngSwitch]="animation">
			<img *ngSwitchCase="'rotate'" [@rotate] = "animationState" [src]="url" width="400px">
      <img *ngSwitchCase="'flyUp'" [@fallDown] = "animationState" [src]="url" width="400px">
      <img *ngSwitchCase="'fallDown'" [@flyUp] = "animationState" [src]="url" width="400px">
      <img *ngSwitchDefault [src]="url" width="400px">
    </div>

    <input id="file" type="file" (change)="getFile($event)" class="file-container__file">

  </div>
  <button (click)="resetImg()" type="button"  class="border rounded bg-blue-200 pl-4 pr-4 mt-6">
      clear image
  </button>
  <label for="file" class="border rounded bg-blue-200 pl-4 pr-4 mt-6 file-container__file-label">
      upload image
  </label>

  <label for="anim" class="mt-6">choose an animation</label>
  <select
    [disabled]="url==='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx0mx3OYcD9Ge89SC942Y8dxDJrYwmfdjaqA&usqp=CAU'"
    name="anim"
    ngModel (ngModelChange)="animationType($event)"
    name="animation"
    class="border rounded pl-1 mb-4 mt-1"
    type="select"
  >
    <option value="rotate" >rotate</option>
    <option value="fallDown">fall down</option>
    <option value="flyUp">fly up</option>
  </select>
</div>


